@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

:root {
  --black0: #1a1924;
  --black1: #232130;
  --black2: #2c293d;
  --black3: #34304a;
  --blue20: #1919c8;
  --blue10: #3737e6;
  --blue0: #3737e6;
  --blue1: #6e6eed;
  --blue2: #8080ef;
  --yellow10: #adb319;
  --yellow0: #e7eb70;
  --yellow1: #eaed82;
  --yellow2: #edf094;
  --white0: #eeeefb;
  --white1: #dedef7;
  --white2: #cecef3;
  --white3: #acacec;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--blue0);
  color: var(--white0);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Helvetica, sans-serif;
  max-width: 800px;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}

header {
  position: relative;
}
@media only screen and (min-width: 600px) {
  header {
    position: relative;
  }
}

details {
  position: relative;
}

nav {
  height: 0;
  margin: 0;
  padding: 30px 0 50px 0;
  background: var(--blue0);
  border: none;
  border-bottom: 1px solid var(--blue2);
}

footer {
  position: absolute;
  bottom: calc(5 / 10vh);
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  margin: 15px;
  color: var(--blue2);
}

@media only screen and (min-height: 960px) {
  footer {
    position: absolute;
    bottom: 1vh;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    margin: 15px;
    color: var(--blue2);
  }
}

footer a {
  color: var(--blue2);
  text-decoration: none;
  border: none;
  border-bottom: 1px dotted var(--white2);
}
footer a:hover {
  color: var(--white3);
  border-bottom: 1px solid var(--white2);
}

@media only screen and (min-width: 600px) {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.bleep-page-layout {
  display: flex;
  flex-flow: column-reverse nowrap;
  max-width: 900px;
  /* min-height: 100vh; */
  height: auto;
  margin: 0;
}

@media only screen and (min-width: 600px) {
  .bleep-page-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    max-width: 900px;
    min-height: 70vh;
    margin: 0;
  }
}

.landing-page-layout {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 90vh;
  margin: 30px auto;
  padding: 30px auto;
}

.logo {
  left: 0;
  right: 0;
  height: auto;
  width: 150px;
  margin: 0 auto;
  padding: 0;
}

.logo-nav {
  position: absolute;
  top: 0%;

  right: 0;
  height: auto;
  max-width: 30px;
  margin: 25px 45px;
  padding: 0;
  transition: all 0.1s ease;
}

.logo-nav:hover {
  transform: scale(1.1);
}

.title-card {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.3rem;
  color: var(--yellow2);
  margin: 0 auto 30px auto;
  padding: 30px;
}

.rules {
  position: absolute;
  top: -700px;
  left: 0;
  right: 0;
  z-index: 2;

  border-radius: 0.3rem;
  padding: 25px 20px 5px 20px;

  background-color: var(--yellow0);
  color: var(--blue0);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  width: 90vw;
  max-height: 600px;
  overflow-y: scroll;
  margin: 100px auto;

  line-height: 1.6;

  transition: all 0.3s ease-in;
}

@media only screen and (min-width: 600px) {
  .rules {
    max-width: 420px;
    left: 0;
    right: 0;
  }
}
.rules-text {
  padding: 25px 40px;
}

.slide-in {
  top: 10vh;
}

.hidden {
  visibility: 0;
  opacity: 0;
}

.rules-btn-landing h2 {
  font-weight: 400;
}

.close-rules {
  display: block;
  position: sticky;
  z-index: 3;
  top: 0;
  right: 0;
  left: 80%;

  background-color: transparent;
  color: var(--blue0);
  border: 2px solid transparent;
  padding: 15px;
  margin: 0;
  border-radius: 0.3rem;

  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  cursor: pointer;
}

.close-rules:hover {
  color: var(--blue0);
  transform: scale(1.1);
}

.rules-btn-nav {
  margin-top: 8px;
}

.rules-btn-nav:hover::after,
.reset:hover::after,
.new-puz:hover::after {
  position: absolute;

  text-transform: uppercase;
  text-align: left;
  font-size: 11px;
  line-height: 1.6;
  letter-spacing: 0.08rem;
  color: var(--white1);
}

.reset:hover::after {
  content: 'reset';
  bottom: -14px;
  left: 10px;
  right: 0;
}
.new-puz:hover::after {
  content: 'next';
  bottom: -14px;
  left: 12px;
  right: 0;
}
.rules-btn-nav:hover::after {
  content: 'info';
  bottom: 0px;
  left: 20px;
  right: 0;
}

.rules-btn-nav::before,
.reset,
.new-puz,
.color-scheme {
  position: relative;
  font-size: 25px;
  padding: 0px 20px 5px 20px;
  border-radius: 3rem;
  border: 3px solid transparent;
  color: var(--white3);
  font-weight: 400;
}

.rules-btn-nav:hover::before,
.reset:hover,
.new-puz:hover,
.color-scheme:hover {
  color: var(--white0);
}

.rules-btn-nav::before {
  content: ' \f059';
  font-family: FontAwesome;
}

a,
a:visited {
  text-decoration: none;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

a:focus-visible {
  outline: 1px dashed var(--white2);
}

.landing-controls {
  display: flex;
  flex-flow: row-reverse wrap;
  margin: 0 auto;
}

.rules-btn-wrapper,
.play-btn-wrapper {
  cursor: pointer;
}

.play-btn,
.play-btn:visited,
.rules-btn-landing,
.rules-btn-landing :visited {
  height: 70px;
  width: auto;
  max-width: 200px;

  border-radius: 0.63rem;
  margin: 15px;
  padding: 15px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;

  transition: transform 0.1s linear;

  will-change: transform;
  cursor: pointer;
}

.play-btn {
  color: var(--blue0);
  background-color: var(--yellow0);
  border: 2px solid transparent;
}

.rules-btn-landing {
  color: var(--yellow0);
  background-color: var(--blue);
  border: 2px solid var(--yellow0);
}

.rules-btn-landing:hover {
  color: var(--blue0);
  background-color: var(--yellow0);
  border: 2px solid transparent;
}

.play-btn:hover {
  background-color: transparent;
  color: var(--yellow0);
  border: 2px solid var(--yellow0);
}

.play-btn:active,
.rules-btn-landing:active,
.close-rules:active {
  transform: scale(0.95);
}

.play-btn:focus {
  outline: var(--blue10);
}

.top {
  grid-area: toptop;
}
.top-left {
  grid-area: topleft;
  justify-self: left;
}
.top-right {
  grid-area: topright;
  justify-self: right;
}
.middle {
  grid-area: mid;
}
.bot-left {
  grid-area: botleft;
  justify-self: left;
}
.bot-right {
  grid-area: botright;
  justify-self: right;
}
.bottom {
  grid-area: bot;
}

.top,
.top-left,
.bot-left,
.bot-right,
.top-right,
.middle,
.bottom {
  border: 1px solid var(--black2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    '. toptop .'
    'topleft . topright'
    '. mid .'
    'botleft . botright'
    '. bot .';
  align-items: center;
  justify-items: center;
  gap: 0/0;
  max-width: 280px;
  margin: 0 auto;
}

.btn {
  height: 70px;
  min-width: 80px;
  color: var(--white0);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.63rem;

  padding: 0;
  font-size: 30px;
  font-weight: 600;
  transition: transform 0.2s ease-in;
  cursor: pointer;
  will-change: transform;
}

.letter {
  color: var(--white0);
  background-color: var(--blue0);
  border: 2px solid var(--white2);
  margin: -13px 5px;
}

.letter:hover {
  background-color: var(--blue2);
  border: 2px solid var(--white2);
  color: var(--blue10);
}

.letter:active {
  transform: scale(0.9);
  background-color: var(--yellow0);
}

.letter:focus {
  outline: none;
}

.control-panel {
  display: flex;
  flex-flow: row nowrap;
  width: 300px;
  height: 100px;
  margin: 40px auto;
}

.control-panel > .btn {
  margin: 0 auto;
}

.displays {
  position: relative;
  height: 200px;
  width: 100%;
  border-radius: 0.3rem;

  margin: 30px 0;
}

.shuffle-btn,
.delete-btn,
.enter-btn {
  color: var(--white2);
}

.shuffle-btn:hover,
.delete-btn:hover,
.enter-btn:hover {
  color: var(--white0);
  transform: scale(1.1);
}

.shuffle-btn:active,
.delete-btn:active,
.enter-btn:active {
  color: var(--blue2);
  transform: scale(0.9);
}

.shuffle-btn:focus,
.delete-btn:focus,
.enter-btn:focus {
  outline: none;
}

.reset {
  font-weight: 400;
}

.shuffle-btn::after {
  content: ' \f021';
  font-family: FontAwesome;
  font-weight: 400;
}

.demo-btn::after {
  content: ' \f0e7';
  font-family: FontAwesome;
  font-weight: 400;
}

.rules-section {
  display: inline;
  margin: 0 0 5px 0;
  width: 100%;
  text-align: left;
}

.rules-section-label {
  display: inline-block;
  border: 2px solid transparent;
  font-size: 24px;
  margin: 15px 0;
}

.rules-section-label:hover {
  border-bottom: 2px solid var(--blue0);
}

.rules-section-label:active {
  transform: scale(1.08);
}

summary {
  cursor: pointer;
}

summary:focus {
  outline: none;
}

.slider-wrapper {
  display: flex;
  flex-flow: column;
  align-content: center;
  padding: 10px 65px;
  margin: 0;
}

.display-input-wrapper {
  position: relative;
  max-width: 100%;
}

@media only screen and (min-width: 600px) {
  .display-input-wrapper {
    position: relative;
    max-width: 400px;
  }
}

.input-display {
  font-size: 2rem;
  height: 4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding: 15px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* blinking cursor */
.input-display::after {
  content: ' ';
  height: 3.3rem;
  border: none;
  border-right: 3px solid var(--yellow0);
  animation: blink 1.2s infinite step-end;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.wordlist-wrapper {
  border: 1px solid var(--white2);
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 15px 5px;
  border-radius: 0.3rem;
}

.feedback {
  max-height: 400px;
}

@media only screen and (min-width: 600px) {
  .feedback {
    border: 1px solid transparent;
    height: 80vh;
    padding: 45px 5px 15px 5px;
  }

  .wordlist-wrapper {
    border: 1px solid transparent;
    min-height: 500px;
    margin: 15px auto;
    padding: 30px 50px;
    border-radius: 0rem;
    width: 35vw;
    max-width: 400px;
  }
}

.wordlist-summary {
  margin: 5px auto;
  padding: 5px 15px;
  border-radius: 0.3rem;
}

.fadeout-fb,
.wordlist-summary,
.player-rank {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.6;
  letter-spacing: 0.08rem;
  color: var(--yellow2);
}

.wordlist {
  line-height: 1.6;
  max-width: 100%;
  overflow: scroll;
  padding: 15px 0;
}

@media only screen and (min-width: 600px) {
  .wordlist {
    line-height: 1.6;
    max-width: 100%;
    overflow: scroll;
    padding: auto;
  }
}

.wordlist-item {
  display: inline-block;
  text-transform: capitalize;
  list-style: none;
  color: var(--white2);
  margin: 0 15px;

  letter-spacing: 0.03rem;
}

@media only screen and (min-width: 600px) {
  .wordlist-item {
    display: inline-block;
    text-transform: capitalize;
    list-style: none;
    color: var(--white2);
    margin: 0 15px;
  }
}
.fb-display-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.feedback-display {
  position: absolute;
  height: 50px;
  width: 100%;
}

.center-letter {
  color: var(--blue0);
  border: 2px solid var(--white2);
  background-color: var(--white2);
}
.center-letter:hover {
  background-color: var(--yellow0);
  border: 2px solid var(--yellow0);
}

label {
  padding-right: 10px;
  font-size: 1rem;
}

/* https://blog.teamtreehouse.com/use-meter-progress-elements */
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 17px;

  background-color: var(--blue0);
  border-radius: 0.6rem;
  margin: 15px auto;
  transition: all 0.1s ease-in-out;
}

progress::-webkit-progress-bar {
  width: 101%;
  height: 17px;
  background-color: var(--blue0);
  border: 1px solid var(--white2);
  border-radius: 3rem;
  margin: -1.3px auto;
}
progress::-webkit-progress-value {
  height: 15px;
  background-color: var(--yellow0);
  border: 1px solid transparent;
  border-radius: 3rem;
}
progress::-moz-progress-bar {
  height: 16px;
  background-color: var(--yellow0);
  border: 1px solid transparent;
  border-radius: 3rem;
  margin: -1px;
}

.fadeout-fb {
  display: inline;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 1.5s linear;

  background-color: var(--yellow2);
  color: var(--blue0);

  font-size: 10px;
  font-weight: 500;
  text-align: center;

  width: auto;
  height: auto;
  padding: 6px 10px;
  border-radius: 0.3rem;
}
