/* * {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 700px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  height: 80px;
  width: 90px;
  border: 1px solid #efefef;
  border-radius: 0.3rem;
  margin: 5px;
  font-size: 20px;
} */

.input-display {
  font-size: 60px;
}

.center-letter {
  color: #757743;
  background-color: #e7eb64;
}

label {
  padding-right: 10px;
  font-size: 1rem;
}
progress {
  width: 200px;
  height: 30px;
}

.displays {
  position: relative;
  height: 15vh;
}

.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 1.5s linear;
  position: absolute;
  top: 0;
  animation: blip 1.5s cubic-bezier(0.075, 0.82, 0.99, 0.75);
}
@keyframes blip {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.05);
  }
}

.wordlist-item {
  text-transform: capitalize;
  list-style: none;
}
